.card {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  gap: 16px;
  width: 540px;
}

.card__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 32px;
  margin: 0;
}

.card__list-item {
  display: flex;
}

.card__list-divider {
  display: flex;
  flex-grow: 1;
  border-bottom: 1px solid #000;
}
