.recipes {
  background: center / cover no-repeat url(../images/background_recipes.svg)
    #0a2750;
  color: #ffffff;
  padding: 100px 80px 215px;
}

.recipes__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  margin: 0 0 24px;
}

.recipes__subtitle {
  margin: 0 0 80px;
  max-width: 438px;
  font-size: 20px;
  line-height: 30px;
  font-family: "Noto Serif", "Times New Roman", serif;
}
.recipes__videos {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 40px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  margin: 24px 0 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__iframe {
  frameborder: 0;
}
